# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Colab-specific
sample_data/
.env
*.env
*.token
token.txt
secret_*.txt

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
